.main {
  flex: 6;
  background-color: #20232b;
  color: #fff;
  min-height: calc(100vh - 52px);
}
.mainWrapper {
  padding: 20px;
}

@media (max-width: 740px) {
  .main {
    flex: 1;
    min-height: auto;
  }
}
@media (min-width: 741px) and (max-width: 1030px) {
  .main {
    flex: 5;
  }
}
