body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding-left: 350px;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  font-family: "Quicksand", sans-serif;
}
.mt10 { 
  margin-top: 10px; 
}

/* ---------------------------------------- */
/* Layout                                   */
/* ---------------------------------------- */

.outer-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;

  justify-content: center;
  align-items: start;
  margin-top: 30px;
}
.page-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  justify-self: stretch;
  align-self: stretch;
  width: 310px;
  background-color: #e5e5e5;
  border-right: 1px solid #cfcfcf;
  padding: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-content: center;
  overflow: auto;
}
.users-ul { 
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.users-ul > li { 
  display: flex;
  column-gap: 10px;

  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding: 12px 30px;
  border-radius: 10px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 5%, rgba(255,255,255,1) 48%, rgba(229,229,229,1) 95%, rgba(229,229,229,1) 100%);
}
.users-ul span { display: inline-block; }
.username { 
  flex: 1; 
  font-weight: 600;
  font-size: 13px;
  color: #3a3a3a;
}

.sub-txt {
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  text-transform: lowercase;
  margin-left: 18px;
  display: inline-block;
  justify-self: end;
}
.leftTitle {
  color: teal;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 20px
}
.leftSubTitle {
  text-align: center;
  font-size: 13px;
  color: #3a3a3a;
}

.app-info {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  margin: 10px auto 30px;
  padding: 16px 0;
  max-width: 500px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;

  justify-self: center;
}
.app-info > h2 {
  font-size: 13px;
  font-weight: 600;
}
.app-info > p {
  font-size: 14px;
  line-height: 20px;
}
.code-links a {
  text-decoration: underline;
  color: inherit;
}
.code-links a:hover {
  color: #5e5e5e;
}
.code-links span { display: inline-block; }
.code-links span:first-of-type { margin-right: 2px; }
.code-links span:last-of-type { margin-left: 6px; }

/* ---------------------------------------- */
/* Main Content                             */
/* ---------------------------------------- */

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 30px;

  margin: 0 auto;
  align-items: center;
  max-width: 500px;
}
.box,
.login {
  justify-self: center;
  max-width: 200px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.box {
  max-width: 100%;
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}
.formTitle {
  color: teal;
  font-weight: bold;
  text-align: center;
  display: block;
}
input {
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: center;
}
input:focus {
  outline: none;
}
.submitButton {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #7fb3b3;
}
.submitButton:disabled {
  background-color: #7fb3b3;
}
.error { color: red; text-align: center; }

/* ---------------------------------------- */
/* Profile                                  */
/* ---------------------------------------- */

.profile-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  align-items: center;
  justify-content: center;
}
.home {
  justify-self: center;
  width: 400px;
  height: 250px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.deleteButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff0f1;
  color: #d95087;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #fad4d7;
}
.error {
  font-size: 12px;
  color: crimson;
}
.success {
  font-size: 12px;
  color: green;
}

/* ---------------------------------------- */
/* Responsiveness                           */
/* ---------------------------------------- */

@media all and (max-height: 400px) {
  .profile-grid,
  .outer-grid {
    align-items: start;
  }
  .inner-grid {
    padding: 30px 10px;
  }
}
@media (max-width: 530px) {
  body {
    padding: 0;
  }
  .outer-grid {
    margin-top: 0;
  }
  .page-right {
    order: 1;
  }
  .page-left {
    order: 2;
    position: static;
    border-right: none;
    width: auto;
  }
  .app-info {
    padding: 20px;
    max-width: none;
    margin: 20px;
  }
  .inner-grid {
    grid-template-columns: minmax(0, 1fr);
    column-gap: 0;
    row-gap: 20px;
    max-width: none;
    padding: 0 20px 20px;
  }
  .profile-grid {
    justify-content: center;
    padding: 0 20px;
  }
  .home {
    justify-self: stretch;
    width: auto;
  }
}
@media (min-width: 531px) and (max-width: 650px) {
  body {
    padding: 0;
  }
  .outer-grid {
    margin-top: 0;
  }
  .page-right {
    order: 1;
  }
  .page-left {
    order: 2;
    position: static;
    border-right: none;
    width: auto;
  }
  .app-info {
    padding: 20px;
    max-width: none;
    margin: 20px;
  }
  .inner-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 20px;
    max-width: none;
    padding: 0 20px 20px;
  }
  .profile-grid {
    justify-content: center;
    padding: 0 20px;
  }
  .home {
    justify-self: stretch;
    width: auto;
  }
}

@media (min-width: 651px) and (max-width: 950px) {
  .outer-grid {
    grid-template-rows: auto;
  }
  .inner-grid,
  .profile-grid {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 30px;
    justify-items: center;
    align-items: start;
    padding-bottom: 35px;
  }
  .home {
    width: auto;
    margin: 0 20px;
  }
  .app-info {
    margin-left: 20px;
    margin-right: 20px;
  }
}
