body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  background-color: #000;
}
* {
  margin: 0;
  padding: 0;
}
.jwtDemo {
  display: flex;
}

/* ---------------------------------------- */
/* Responsiveness                           */
/* ---------------------------------------- */

@media (max-width: 740px) {
  .jwtDemo{
    flex-direction: column;
  }
}

