body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.jwtDemo {
  display: flex;
}

/* ---------------------------------------- */
/* Responsiveness                           */
/* ---------------------------------------- */

@media all and (max-height: 400px) {
}
@media (max-width: 530px) {
}
@media (min-width: 531px) and (max-width: 650px) {
}

@media (min-width: 651px) and (max-width: 950px) {
}
